.react-questions {
    h1 {
        color: darkgreen;
    }

    button {
        cursor: pointer;
    }
}

.full-screen {
    width: 100vw;  /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkslategrey;
    color: white;
}

/* .circle {
    height: 15rem;
    width: 15rem;
    border: solid 5px black;
    border-radius: 50%;
} */