.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.root-container {
  height: 100vh;
  width: 100vw;
  background-color: #f6868692;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.button {
  background-color: rgb(14, 25, 240);
  color: rgb(246, 237, 238);
  margin: 0 0.2em;
}

.title {
  color: #06279e;
  font-size: larger;
  text-align: center;
  font-style: oblique;
  font-family: cursive;
  background-color: rgb(10, 249, 30);
}

.nav {
  color: wheat;
}

.navLinks li {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: bold;
  font-size: 40px;
  display: inline-block;
  margin-right: 30px;
}

.main-page {
  background-color: darkgrey;
  height: 100vh;
}

.main-heading {
  color: darkgreen;
}

.button-container {
  height: 72px;
}

.nav-button {
  color: darkgreen;
  background-color: rgba(143, 187, 121, 0.985);
  cursor: pointer;
  height: 50px;
  width: 222px;
  margin: 5px;
  padding: 2px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  color: white;
  background-color: green;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-button.selected {
  background-color: darkgreen;
  color: white;
  border: 1px solid yellowgreen;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-button:focus {
  outline: none;
}